*{    
margin-left:0;
 box-sizing: border-box;
 color:none;
}
body{
    background-color:grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   background-origin: inherit;
}
h1{
    color:black
}
img{
    margin-left:150px;
    margin-top:200px;
}
p{
    margin-top: 50px;
}